<app-navbar [menu]="snav"
  #header></app-navbar>

<mat-sidenav-container>

  <!-- 左側選單 -->
  <mat-sidenav #snav>
    <app-menu [menu]="snav"
      (getTitle)="getPageTitle($event)"></app-menu>
  </mat-sidenav>


  <!-- 內容部分 -->
  <mat-sidenav-content cdkScrollable>
    <section class="sidenav-content">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
<p-confirmDialog [style]="{width: '50vw'}"
  [baseZIndex]="10000"></p-confirmDialog>
<!-- <app-footer></app-footer> -->
